<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Inventory</title>
  </head>
  <body>
    <div class="header"><h1>Game Inventory</h1></div>
    <%- include("error.ejs") %>
    <div class="form-container">
      <div class="topbtns">
        <a href="/genres/<%= params.genre_name %>" class="backbtn"
          ><img src="/arrow-left.svg" alt="Back"
        /></a>
      </div>
      <form action="/genres/<%= params.genre_name %>/add" method="post">
        <label for="title">Game title: </label>
        <input type="text" id="title" name="title" />
        <label for="developer">Developer: </label>
        <input type="text" id="developer" name="developer" />
        <label for="date">Release date: </label>
        <input type="date" name="date" id="date" required />
        <% if(params.genre_name === "all") { %>
        <div class="radio-container">
          <% genres.forEach(genre => { %>
          <div class="radio-item">
            <label for="<%= genre.genre_name %>"><%= genre.genre_name %></label>
            <input
              type="radio"
              name="genre"
              id="<%= genre.genre_name %>"
              value="<%= genre.genre_name %>"
              required
            />
          </div>
          <% }) %>
        </div>
        <% } %>
        <button class="addbtn" type="submit">Save</button>
      </form>
    </div>
  </body>
</html>
